/** BEGIN: Public Tablets / Touch Screen **************************************/

.public-tablet
{

  header
  {
    margin-left:30px;
    padding-top:30px;
  }

  main
  {
    margin-top:50px;
  }

  .container-fluid
  {
    padding:0px 0px 0px 0px;
  }

}

/** END: Public Tablets / Touch Screen ****************************************/
